.list-group-item {
  cursor: pointer;
}
.badge {
  float: right;  
}
.material-icons.incorrect {
  color: #da2d2d;
  font-size: 20px;
}
.material-icons.correct {
  color: #3fc1c9;
  font-size: 20px;
}